{% load static %}

<style>
  .wrapper19 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .achi-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }

  .achievement-container {
    flex: 1 1 calc(33.33% - 20px);
    border-radius: 2rem;
    border: solid black;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
  }

  .achievement-title {
    font-size: 2rem;
    font-weight: 700;
    color: #2793e2;
    margin-bottom: 10px;
  }

  .achievement-description {
    color: #1e1e24;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
  }

  .heading {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
  }
</style>

<div class='wrapper19'>
  <h1 class="heading">Achievements & Milestones</h1>
  <div class="achi-container">
    <div class="achievement-container">
      <h2 class='achievement-title'>Expertise in Technologies</h2>
      <p class='achievement-description'>Expertise in a wide range of technologies, including
Java, Python, NET, JavaScript, and more.Specialization in emerging technologies such as Al, machine learning, blockchain, and loT.
      </p>
    </div>
    <div class="achievement-container">
      <h2 class='achievement-title'>Successful Project Deliveries</h2>
      <p class='achievement-description'>Delivered over 50+ successful projects for clients ranging from startups to Fortune 500 companies.Consistently achieving a 95% client satisfaction rate and on-time project delivery for all engagements.</p>
    </div>
      <div class="achievement-container">
      <h2 class='achievement-title'>Client Success Stories</h2>
        <p class='achievement-description'>Increased operational efficiency by 30% for a leading e-commerce client through custom software integration.</p>
      </div>
  </div>
</div>
