{% load static %}

<div class="instagram">
  <div data-aos="fade-right">
    <div class="instagram-heading">
      <b>Life</b> at Scifor
    </div>
    <div class="insta-text">
        <p>A glimps of healty and fun lifestyle offered by devtron to its employees.</p>
    </div>
  </div>
    <div class="images">
      <div class="img-0" data-aos="fade-right">
        <img src="{% static 'goo.jpeg' %}" alt="" />
        <div class="hovered">
          <h1>Picture</h1>
        </div>
      </div>
      <div class="img-1" data-aos="fade-down">
        <img src="{% static 'google-emp.jpeg' %}" alt="" />
        <div class="hovered">
          <h1>Picture</h1>
        </div>
      </div>
      <div class="img-2" data-aos="fade-left">
        <img src="{% static 'Tokyo.webp' %}" alt="" />
        <div class="hovered">
          <h1>Picture</h1>
        </div>
      </div>
      <div class="img-3">
        <img src="{% static 'mac.jpeg' %}" alt="" />
        <div class="hovered">
          <h1>Picture</h1>
        </div>
      </div>
      <div class="img-4" data-aos="fade-right">
        <img
          src="{% static 'man.webp' %}"
          alt=""
        />
        <div class="hovered">
          <h1>Picture</h1>
        </div>
      </div>
      <div class="img-5" data-aos="fade-up">
        <img
          src="{% static 'noogler.jpeg' %}"
          alt=""
        />
        <div class="hovered">
          <h1>Picture</h1>
        </div>
      </div>
      <div class="img-6" data-aos="fade-left">
        <img src="{% static 'mac.jpeg' %}" alt="" />
        <div class="hovered">
          <h1>Picture</h1>
        </div>
      </div>
      <div class="img-7" data-aos="fade-right">
        <img src="{% static 'seattle.webp' %}" alt="" />
        <div class="hovered">
          <h1>Picture</h1>
        </div>
      </div>
      <div class="img-8">
        <img
          src="{% static 'banner2.jpg' %}"
          alt=""
        />
        <div class="hovered">
          <h1>Picture</h1>
        </div>
      </div>
      <div class="img-9" data-aos="fade-up">
        <img src="{% static 'women.webp' %}" alt="" />
        <div class="hovered">
          <h1>Picture</h1>
        </div>
      </div>
    </div>

    <hr class="line">
  </div>