{% load static %}
   
<nav class="nav">
    <div class="nav-logo">
        <img src="{% static 'images/company_logo.png' %}" alt="logo" />
        <p style="font-size: 28px; font-weight: bold;">Meta Scifor Technologies</p>
    </div>
    <div class="nav-menu" id="navMenu">
        <ul>
            <li><a href="/" class="link" style="font-size: 20px; font-weight: bold;">Home</a></li>
            <li><a href="/services" class="link" style="font-size: 20px; font-weight: bold;">Services</a></li>
            <li><a href="/about-us" class="link" style="font-size: 20px; font-weight: bold;">About</a></li>
            <li><a href="/case_study" class="link" style="font-size: 20px; font-weight: bold;">Case Studies</a></li>
            <li><a href="/community" class="link" style="font-size: 20px; font-weight: bold;">Community</a></li>
            <li><a href="#footer" class="link" style="font-size: 20px; font-weight: bold;">Contact</a></li>
            <li><a href="#" class="link active" style="font-size: 20px; font-weight: bold;">Join Us</a></li>
        </ul>
    </div>

</nav>

<main>
    <div class="slider">
        <div class="slide">
            <img src="{% static 'images/back04.jpeg' %}" alt="Image 2" />
            <div class="overlay">
                <h2 class="big-text" >Welcome to Meta Scifor Technologies!</h2>
                <h2 class="big-text">Together, lets bring the revolution in the way </h2>
                <h2 class="big-text">world Dev-Operate.</h2>
                <p class="small-text">Script. Sculpt. Socialize</p>
            </div>
        </div>
</main>

